USE [master]
GO
/****** Object:  Database [java_io_db]    Script Date: 2018/5/11 16:52:30 ******/
CREATE DATABASE [java_io_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'java_io_db', FILENAME = N'D:\DB\SQL\MSSQL14.SQLEXPRESS\MSSQL\DATA\java_io_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'java_io_db_log', FILENAME = N'D:\DB\SQL\MSSQL14.SQLEXPRESS\MSSQL\DATA\java_io_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [java_io_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [java_io_db]
GO
USE [java_io_db]
GO
/****** Object:  Table [dbo].[T_BRXX]    Script Date: 2018/5/11 16:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BRXX](
	[BRBH] [char](6) NOT NULL,
	[BRMC] [char](10) NOT NULL,
	[DLKL] [char](8) NOT NULL,
	[YCJE] [decimal](10, 2) NOT NULL,
	[DLRQ] [datetime] NULL,
 CONSTRAINT [PK__T_BRXX__39F25B9D6EA54341] PRIMARY KEY CLUSTERED 
(
	[BRBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GHXX]    Script Date: 2018/5/11 16:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GHXX](
	[GHBH] [char](6) NOT NULL,
	[HZBH] [char](6) NOT NULL,
	[YSBH] [char](6) NOT NULL,
	[BRBH] [char](6) NOT NULL,
	[GHRC] [int] NOT NULL,
	[SFZJ] [bit] NOT NULL,
	[GHFY] [decimal](8, 2) NOT NULL,
	[RQSJ] [datetime] NOT NULL,
 CONSTRAINT [PK__T_GHXX__0B76AAF5DA44CA35] PRIMARY KEY CLUSTERED 
(
	[GHBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HZXX]    Script Date: 2018/5/11 16:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HZXX](
	[HZBH] [char](6) NOT NULL,
	[HZMC] [char](12) NOT NULL,
	[PYZS] [char](4) NOT NULL,
	[KSBH] [char](6) NOT NULL,
	[SFZJ] [bit] NOT NULL,
	[GHRS] [int] NOT NULL,
	[GHFY] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK__T_HZXX__6E73959F1E4F90AF] PRIMARY KEY CLUSTERED 
(
	[HZBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_KSXX]    Script Date: 2018/5/11 16:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_KSXX](
	[KSBH] [char](6) NOT NULL,
	[KSMC] [char](10) NOT NULL,
	[PYZS] [char](8) NOT NULL,
 CONSTRAINT [PK__T_KSXX__BC404886B4121156] PRIMARY KEY CLUSTERED 
(
	[KSBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_KSYS]    Script Date: 2018/5/11 16:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_KSYS](
	[YSBH] [char](6) NOT NULL,
	[KSBH] [char](6) NOT NULL,
	[YSMC] [char](10) NOT NULL,
	[PYZS] [char](4) NOT NULL,
	[DLKL] [char](8) NOT NULL,
	[SFZJ] [bit] NOT NULL,
	[DLRQ] [datetime] NULL,
 CONSTRAINT [PK__T_KSYS__DF3E0C416DFEFB80] PRIMARY KEY CLUSTERED 
(
	[YSBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_BRXX] ([BRBH], [BRMC], [DLKL], [YCJE], [DLRQ]) VALUES (N'000001', N'章子怡    ', N'123     ', CAST(193.00 AS Decimal(10, 2)), CAST(N'2018-05-10T20:54:23.743' AS DateTime))
INSERT [dbo].[T_BRXX] ([BRBH], [BRMC], [DLKL], [YCJE], [DLRQ]) VALUES (N'000002', N'刘德华    ', N'123     ', CAST(50.00 AS Decimal(10, 2)), CAST(N'2018-04-09T18:48:38.877' AS DateTime))
INSERT [dbo].[T_BRXX] ([BRBH], [BRMC], [DLKL], [YCJE], [DLRQ]) VALUES (N'000003', N'张学友    ', N'123     ', CAST(0.00 AS Decimal(10, 2)), CAST(N'2018-04-15T01:42:34.977' AS DateTime))
INSERT [dbo].[T_GHXX] ([GHBH], [HZBH], [YSBH], [BRBH], [GHRC], [SFZJ], [GHFY], [RQSJ]) VALUES (N'000000', N'000000', N'000000', N'000000', 0, 0, CAST(0.00 AS Decimal(8, 2)), CAST(N'2018-04-12T10:48:34.040' AS DateTime))
INSERT [dbo].[T_GHXX] ([GHBH], [HZBH], [YSBH], [BRBH], [GHRC], [SFZJ], [GHFY], [RQSJ]) VALUES (N'000001', N'000001', N'000001', N'000003', 1, 0, CAST(30.00 AS Decimal(8, 2)), CAST(N'2018-04-14T19:20:08.367' AS DateTime))
INSERT [dbo].[T_GHXX] ([GHBH], [HZBH], [YSBH], [BRBH], [GHRC], [SFZJ], [GHFY], [RQSJ]) VALUES (N'000002', N'000001', N'000001', N'000003', 2, 0, CAST(30.00 AS Decimal(8, 2)), CAST(N'2018-04-14T19:20:17.713' AS DateTime))
INSERT [dbo].[T_HZXX] ([HZBH], [HZMC], [PYZS], [KSBH], [SFZJ], [GHRS], [GHFY]) VALUES (N'000001', N'内一科      ', N'nyk ', N'000001', 1, 20, CAST(30.00 AS Decimal(8, 2)))
INSERT [dbo].[T_HZXX] ([HZBH], [HZMC], [PYZS], [KSBH], [SFZJ], [GHRS], [GHFY]) VALUES (N'000002', N'外一科      ', N'wyk ', N'000002', 1, 20, CAST(30.00 AS Decimal(8, 2)))
INSERT [dbo].[T_HZXX] ([HZBH], [HZMC], [PYZS], [KSBH], [SFZJ], [GHRS], [GHFY]) VALUES (N'000003', N'骨一科      ', N'gyk ', N'000003', 1, 20, CAST(30.00 AS Decimal(8, 2)))
INSERT [dbo].[T_KSXX] ([KSBH], [KSMC], [PYZS]) VALUES (N'000001', N'内科      ', N'nk      ')
INSERT [dbo].[T_KSXX] ([KSBH], [KSMC], [PYZS]) VALUES (N'000002', N'外科      ', N'wk      ')
INSERT [dbo].[T_KSXX] ([KSBH], [KSMC], [PYZS]) VALUES (N'000003', N'骨科      ', N'gk      ')
INSERT [dbo].[T_KSYS] ([YSBH], [KSBH], [YSMC], [PYZS], [DLKL], [SFZJ], [DLRQ]) VALUES (N'000001', N'000001', N'华佗      ', N'ht  ', N'321     ', 1, CAST(N'2018-04-15T01:42:01.830' AS DateTime))
INSERT [dbo].[T_KSYS] ([YSBH], [KSBH], [YSMC], [PYZS], [DLKL], [SFZJ], [DLRQ]) VALUES (N'000002', N'000002', N'扁鹊      ', N'bq  ', N'321     ', 1, CAST(N'2018-04-09T19:00:58.243' AS DateTime))
INSERT [dbo].[T_KSYS] ([YSBH], [KSBH], [YSMC], [PYZS], [DLKL], [SFZJ], [DLRQ]) VALUES (N'000003', N'000003', N'张仲景    ', N'zzj ', N'321     ', 1, CAST(N'2018-04-14T19:56:29.853' AS DateTime))
SET ANSI_PADDING ON
GO
/****** Object:  Index [brxx_index]    Script Date: 2018/5/11 16:52:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [brxx_index] ON [dbo].[T_BRXX]
(
	[BRBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ghxx_index]    Script Date: 2018/5/11 16:52:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ghxx_index] ON [dbo].[T_GHXX]
(
	[GHBH] ASC,
	[HZBH] ASC,
	[YSBH] ASC,
	[BRBH] ASC,
	[GHRC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [hzxx_index]    Script Date: 2018/5/11 16:52:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [hzxx_index] ON [dbo].[T_HZXX]
(
	[HZBH] ASC,
	[KSBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ksxx_index]    Script Date: 2018/5/11 16:52:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ksxx_index] ON [dbo].[T_KSXX]
(
	[KSBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ksys_index]    Script Date: 2018/5/11 16:52:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ksys_index] ON [dbo].[T_KSYS]
(
	[YSBH] ASC,
	[KSBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
